In [1]:
import pandas as pd

In [123]:
df = pd.read_csv('ulus.csv')
df.head()

,Улус;Администр. центр;Площадь,тыс.км2;Численность населения (2002 г.),чел;Расст до Якт наземным;Расст до Якт водным;Расст до Якт воздушным;городов респ;городов улусного;поселков;сел;наслегов
0,Абыйский;п. Белая Гора;69,4;4750;1950/2900;3243;1148;-;-;1;6;5,NaN
1,Алданский;г. Алдан;156,8;49346;534;-;470;-;2;4;13;3,NaN
2,Аллаиховский;п. Чокурдах;107,3;3421;2700;2830;1290;-;-;1;6;5,NaN
3,Амгинский;с. Амга;29,4;17251;201;1036;200;-;-;-;21;14,NaN
4,Анабарский;с. Саскылах;55,6;4024;2621;2835;1285;-;-;-;3;3,NaN

In [124]:
df = pd.read_csv('ulus.csv', sep=';')
df.head()

,Улус,Администр. центр,"Площадь, тыс.км2","Численность населения (2002 г.), чел",Расст до Якт наземным,Расст до Якт водным,Расст до Якт воздушным,городов респ,городов улусного,поселков,сел,наслегов
0,Абыйский,п. Белая Гора,"69,4",4750.0,1950/2900,3243,1148,-,-,1,6.0,5.0
1,Алданский,г. Алдан,"156,8",49346.0,534,-,470,-,2,4,13.0,3.0
2,Аллаиховский,п. Чокурдах,"107,3",3421.0,2700,2830,1290,-,-,1,6.0,5.0
3,Амгинский,с. Амга,"29,4",17251.0,201,1036,200,-,-,-,21.0,14.0
4,Анабарский,с. Саскылах,"55,6",4024.0,2621,2835,1285,-,-,-,3.0,3.0

In [131]:
def replace_comma(s):
    if type(s)==str:
         if s.find('/')!=-1: 
            return s[0:(s.find('/')):1]if type(s)==str else '0'
    return s

In [126]:
def delete(s):
    return '0' if s is '-' else s

In [132]:
df['Расст до Якт наземным']=df['Расст до Якт наземным'].apply(replace_comma)

In [135]:
df['Расст до Якт наземным']=df['Расст до Якт наземным'].apply(delete)

In [136]:
df['Расст до Якт наземным']=pd.to_numeric(df['Расст до Якт наземным'])

In [137]:
df['Расст до Якт воздушным']=df['Расст до Якт воздушным'].apply(delete)

In [138]:
df['Расст до Якт воздушным']=pd.to_numeric(df['Расст до Якт воздушным'])

In [108]:
df=df.drop([24])

In [140]:
df['otnoshinei']=df['Расст до Якт наземным']/df['Расст до Якт воздушным']

In [146]:
df['otnoshinei']=pd.to_numeric(df['otnoshinei'])

In [162]:
def delete_series(s):
    if type(s)!=float:
        return 0
    return s

In [167]:
df['otnoshinei']=df['otnoshinei'].apply(delete_series)

In [164]:
df['otnoshinei']=pd.to_numeric(df['otnoshinei'])

In [177]:
def delete_inf(s):
    if s>1000000:
        return 0
    return s

In [180]:
df['otnoshinei']=df['otnoshinei'].apply(delete_inf)

# Задание 1

In [65]:
df['Улус'][df['plotnost'].idxmin()]

'Жиганский эвенкийский национальный'

# Задание 2

In [181]:
df['Улус'][df['otnoshinei'].idxmax()]

'Аллаиховский'